In [8]:
import tushare as ts
print ts.__version__
import pandas as pd

1.2.15

In [20]:
df = ts.get_tick_data('600848', date='2018-12-12', src='tt')

In [21]:
df.head(10)

       time  price  change  volume  amount type
0  09:30:03  20.68    0.03      24   49616   买盘
1  09:30:05  20.70    0.02       1    2070   卖盘
2  09:30:15  20.77    0.07       2    4152   买盘
3  09:30:26  20.78    0.01       8   16617   买盘
4  09:30:33  20.78    0.00       9   18702   卖盘
5  09:30:36  20.79    0.01       9   18711   买盘
6  09:30:42  20.78   -0.01       5   10388   买盘
7  09:30:45  20.78    0.00       3    6232   买盘
8  09:30:50  20.78    0.00       1    2078   买盘
9  09:30:54  20.78    0.00       3    6234   卖盘

In [22]:
df['time'] = '2018-12-12 ' + df['time']
df['time'] = pd.to_datetime(df['time'])

In [23]:
df = df.set_index('time')

In [24]:
df.tail(10)

                     price  change  volume   amount type
time
2018-12-12 14:56:27  20.79    0.00     150   311850   卖盘
2018-12-12 14:56:30  20.79    0.00      10    20790   买盘
2018-12-12 14:56:36  20.79    0.00      48    99792   买盘
2018-12-12 14:56:42  20.79    0.00      50   103990   卖盘
2018-12-12 14:56:45  20.79    0.00     115   239095   卖盘
2018-12-12 14:56:48  20.79    0.00      20    41580   卖盘
2018-12-12 14:56:51  20.79    0.00       3     6237   卖盘
2018-12-12 14:56:57  20.79    0.00       4     8316   卖盘
2018-12-12 14:57:00  20.80    0.01      18    37440   买盘
2018-12-12 15:00:02  20.80    0.00     961  1998880   卖盘

In [25]:
price_df = df['price'].resample('1min').ohlc()

In [26]:
price_df = price_df.dropna() #删除空值

In [27]:
price_df.head(10)

                      open   high    low  close
time
2018-12-12 09:30:00  20.68  20.79  20.68  20.78
2018-12-12 09:31:00  20.78  20.80  20.70  20.72
2018-12-12 09:32:00  20.72  20.72  20.70  20.72
2018-12-12 09:33:00  20.71  20.77  20.71  20.75
2018-12-12 09:34:00  20.71  20.75  20.66  20.66
2018-12-12 09:35:00  20.66  20.69  20.60  20.65
2018-12-12 09:36:00  20.65  20.73  20.65  20.66
2018-12-12 09:37:00  20.66  20.71  20.65  20.71
2018-12-12 09:38:00  20.72  20.73  20.72  20.72
2018-12-12 09:39:00  20.67  20.69  20.65  20.65

In [28]:
vols = df['volume'].resample('1min').sum()

In [31]:
vols = vols.dropna()
print vols.head(5)

time
2018-12-12 09:30:00     72
2018-12-12 09:31:00    135
2018-12-12 09:32:00    299
2018-12-12 09:33:00    118
2018-12-12 09:34:00    659
Freq: T, Name: volume, dtype: int64

In [32]:
vol_df = pd.DataFrame(vols, columns=['volume'])  # series转化为dataframe形式

In [33]:
amounts = df['amount'].resample('1min').sum()

In [34]:
amounts = amounts.dropna()

In [35]:
amount_df = pd.DataFrame(amounts, columns=['amount'])

In [36]:
newdf = price_df.merge(vol_df, left_index=True, 
                       right_index=True).merge(amount_df, 
                                               left_index=True, 
                                               right_index=True)

In [37]:
newdf.tail(20)

                      open   high    low  close  volume   amount
time
2018-12-12 14:39:00  20.84  20.85  20.82  20.82     417   868796
2018-12-12 14:40:00  20.82  20.83  20.80  20.81     235   489076
2018-12-12 14:41:00  20.81  20.81  20.79  20.81     127   264160
2018-12-12 14:42:00  20.81  20.82  20.80  20.80      74   153986
2018-12-12 14:43:00  20.80  20.83  20.80  20.83     238   495399
2018-12-12 14:44:00  20.83  20.84  20.81  20.84     224   466250
2018-12-12 14:45:00  20.84  20.84  20.83  20.83     118   245807
2018-12-12 14:46:00  20.82  20.82  20.81  20.81     187   389282
2018-12-12 14:47:00  20.82  20.83  20.80  20.83     302   628521
2018-12-12 14:48:00  20.83  20.83  20.80  20.82      33    68715
2018-12-12 14:49:00  20.82  20.82  20.82  20.82     166   345612
2018-12-12 14:50:00  20.82  20.82  20.81  20.81     205   426712
2018-12-12 14:51:00  20.81  20.81  20.80  20.81     195   405778
2018-12-12 14:52:00  20.80  20.81  20.80  20.80     397   825823
2018-12-12 14:53:00  20.81  20.81  20.79  20.79     425   883915
2018-12-12 14:54:00  20.78  20.80  20.78  20.80     205   426120
2018-12-12 14:55:00  20.80  20.80  20.78  20.78     535  1112357
2018-12-12 14:56:00  20.78  20.79  20.78  20.79     437   908557
2018-12-12 14:57:00  20.80  20.80  20.80  20.80      18    37440
2018-12-12 15:00:00  20.80  20.80  20.80  20.80     961  1998880

In [38]:
d_dict = {'open':'first',
          'high':'max',
          'close':'last',
          'low':'min',
          'volume':'sum', 
          'amount':'sum'}

In [39]:
new = pd.DataFrame()
for col in newdf.columns:
    new[col] = newdf[col].resample('5min',how=d_dict[col])

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).first()
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).max()
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).min()
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
new.tail(20)

                      open   high    low  close  volume   amount
time
2018-12-12 13:25:00  20.73  20.74  20.69  20.72     307   636015
2018-12-12 13:30:00  20.70  20.84  20.68  20.82    2816  5847605
2018-12-12 13:35:00  20.82  20.82  20.78  20.82     686  1426905
2018-12-12 13:40:00  20.82  20.94  20.82  20.92    3360  7020034
2018-12-12 13:45:00  20.93  20.93  20.82  20.86     414   863702
2018-12-12 13:50:00  20.88  20.88  20.78  20.80     557  1160667
2018-12-12 13:55:00  20.80  20.82  20.77  20.79     423   879786
2018-12-12 14:00:00  20.79  20.79  20.70  20.75     664  1377536
2018-12-12 14:05:00  20.73  20.82  20.73  20.82    1070  2224162
2018-12-12 14:10:00  20.79  20.84  20.76  20.84    2171  4514315
2018-12-12 14:15:00  20.79  20.86  20.79  20.81    1259  2620978
2018-12-12 14:20:00  20.80  20.83  20.80  20.81    1311  2729319
2018-12-12 14:25:00  20.81  20.92  20.81  20.91    2441  5093086
2018-12-12 14:30:00  20.91  20.93  20.87  20.87    2175  4546102
2018-12-12 14:35:00  20.87  20.87  20.82  20.82    1200  2500767
2018-12-12 14:40:00  20.82  20.84  20.79  20.84     898  1868871
2018-12-12 14:45:00  20.84  20.84  20.80  20.82     806  1677937
2018-12-12 14:50:00  20.82  20.82  20.78  20.80    1427  2968348
2018-12-12 14:55:00  20.80  20.80  20.78  20.80     990  2058354
2018-12-12 15:00:00  20.80  20.80  20.80  20.80     961  1998880